body .container header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 30px;
}

body .container header a {
    cursor: pointer;
    display: block;
    text-decoration: none;
}

body .container header a .header__title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

body .container header a .header__title h1 {
    color: #545454;
    font-size: 32px;
    line-height: 35.5x;
    margin: 0;
    letter-spacing: 2px;
    font-weight: 150;
    font-family: "Georgia";
}

body .container header a .header__title p {
    color: #545454;
    font-size: 13px;
    margin: 0;
    letter-spacing: 1.3px;
    font-family: "Arial";
    margin-left: 4px;
    font-weight: 100;
}

body .container header .header__nav {
    display: flex;
    align-items: center;
    max-width: 443px;
    width: 100%;
}

body .container header .header__nav ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
   height: 27px;
}

body .container .header__nav ul li {
    list-style-type: none;
    height: 24px;
    box-sizing: border-box;
}

body .container header .header__nav ul li a {
    text-decoration: none;
    font-family: "Arial";
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 23.5px;
    display: block;
    width: 100%;
    height: 100%;
    color: #545454;
}

@keyframes hover-nav {
    0%   {border-bottom: 0px solid #f1cdb300;
    }
    100% { border-bottom: 3px solid #F1CDB3;
    }
}

body .container header .header__nav ul li .inactive-nav-el:hover {
    color: #292929;
    cursor: pointer;
    animation-name: hover-nav;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
   
}

body .container header .header__nav ul li .active-nav-el {
    color: #545454;
    border-bottom: 3px solid #F1CDB3;
    cursor: default;
}

body .container .container__pets .pets {
   
    gap:45px;
}

body .container .container__pets .pets .pets__slider {
    padding-top: 15px;
    padding-bottom: 15px;
}

body .container .container__pets .pets .pets__slider .slider__pets-block {
    gap: 40px;
    row-gap: 30px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

body .container .container__pets .pets h3 {
    margin-top: 80px;
}

body .container .container__pets .pets .pets__navigation-block {
    display: flex;
    flex-direction: row;
    max-width: 340px;
    gap: 20px;
    justify-content: space-between;
    margin: 0 auto;
    height: 52px;
   padding-bottom: 100px;
}

body .container .container__pets .pets .pets__navigation-block .navigation-block__button {
    width: 52px;
    height: 52px;
}

body .container .container__pets .pets .pets__navigation-block .navigation-block__start {
    background-image: url('../img/button_paginator_inactive_start.svg');
    background-color: #ffffff00;
    cursor:default;
}

body .container .container__pets .pets .pets__navigation-block .navigation-block__end {
    background-image: url('../img/button_paginator_next_end.svg');
    background-color: #ffffff00;
}

body .container .container__pets .pets .pets__navigation-block .navigation-block__back {
    background-image: url('../img/button_paginator_inactive_last.svg');
    background-color: #ffffff00;
    cursor:default;
}

body .container .container__pets .pets .pets__navigation-block .navigation-block__next {
    background-image: url('../img/button_paginator_next_active.svg');
    background-color: #ffffff00;
}

body .container .container__pets .pets .pets__navigation-block .navigation-block__next {
    background-image: url('../img/button_paginator_next_active.svg');
    background-color: #ffffff00;
}

body .container .container__pets .pets .pets__navigation-block .navigation-block__count {
    width: 52px;
    height: 52px;
    background-color: #F1CDB3;
    font-size: 20px;
    font-family: "Georgia";
    line-height: 46px;
    letter-spacing: 1.2px;
    text-align: center;
    border-radius: 52px;
    margin: 0;
}


@media (max-width: 768px) {
    body .container header {
        max-width: 708px;
    }

    body .container .container__pets .pets {
        gap: 15px;
    }

    body .container .container__pets .pets .pets__slider .slider__pets-block {
        max-width: 580px;
        width: 100%;
        margin: 0 auto;
    }

    body .container .container__pets .pets .pets__slider .slider__pets-block .slider__block:nth-child(7){
        display: none;
    }

    body .container .container__pets .pets .pets__slider {
        padding-bottom: 23px;
    }

    body .container .container__pets .pets .pets__navigation-block .navigation-block__count {
        line-height: 51px;
    }
}