@font-face {
    font-family: "Arial";
    src: url(../fonts/arial/ARIAL.TTF);
}

@font-face {
    font-family: "Georgia";
    src: url(../fonts/georgia-2/georgia.ttf);
}

html {
    scroll-behavior: smooth;
   
}

h3 {
    margin: 0;
    font-size: 35px;
    max-width: 370px;
    line-height: 45.5px;
    letter-spacing: 2px;
    color: #545454;
    font-weight: 200;
    font-family: "Georgia";
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
}

body {
    margin: 0;
    
}


.rotate {
    transform: rotate(90deg);
    transition: 2.3s;
    z-index: 11111;
}



.nonrotate {
    transform: rotate(0deg);
    transition: 2.3s;
    z-index: 11111;
 
}



body .container {
    width: 100%;
}



body .container .container__header {
    width: 100%;
    background-image: url('../img/header-background.png');
    background-size: cover;
    overflow: hidden;
}

body .container .container__header header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
    position: relative;
}

body .container .container__header header .burger__nav {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    margin: auto;
    margin-right: 0;
    padding: 0;
}

body .container .container__header header .burger__nav li {
    height: 2px;
    width: 100%;
    background-color: #F1CDB3;
    list-style-type: none;
}

body .container .container__header .menu{
    width: 300px;
    background-color: #fff;
    position: absolute;
    z-index: 1111;
    top: 0;
    right: 0;
}

body .container .container__header header a {
    text-decoration: none;
}

body .container .container__header header a .header__title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

body .container .container__header header a .header__title h1 {
    color: #F1CDB3;
    font-size: 32px;
    line-height: 35.5x;
    margin: 0;
    letter-spacing: 2px;
    font-weight: 150;
    font-family: "Georgia";
}

body .container .container__header header a .header__title p {
    color: #FFFFFF;
    font-size: 13px;
    margin: 0;
    letter-spacing: 1.3px;
    font-family: "Arial";
    margin-left: 4px;
    color: #FFFFFF;
    font-weight: 100;
}

body .container .container__header header .header__nav {
    display: flex;
    align-items: center;
    max-width: 443px;
    width: 100%;
}

body .container .container__header header .header__nav ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 27px;
}

body .container .container__header .header__nav ul li {
    list-style-type: none;
    height: 24px;
    box-sizing: border-box;
}

body .container .container__header header .header__nav ul li a {
    text-decoration: none;
    font-family: "Arial";
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 23.5px;
    display: block;
    width: 100%;
    height: 100%;
    color: #CDCDCD;
}

@keyframes hover-nav {
    0%   {color: #CDCDCD;
    }
    100% { color: #FFFFFF;
    }
}

body .container .container__header header .header__nav ul li .inactive-nav-el:hover {
    color: white;
    cursor: pointer;
    animation-name: hover-nav;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

body .container .container__header header .header__nav ul li .active-nav-el {
    color: white;
    border-bottom: 3px solid #F1CDB3;
    cursor: default;
}

body .container .container__header .container__start-screen {
    height: fit-content;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 83px;
    display: flex;
    flex-direction: row;
    gap: 42px;
    padding-right: 30px;
    padding-left: 30px;
}

body .container .container__header .container__start-screen .start-screen__content {
   display: flex;
   flex-direction: column;
   gap: 42px;
   margin-top: 170px;
   width: 460px;
}

body .container .container__header .container__start-screen .start-screen__content h2 {
    font-size: 44px;
    width: 310px;
    color: white;
    margin: 0;
    line-height: 56.5px;
    font-family: "Georgia";
    font-weight: 100;
    color: #FFFFFF;
}

body .container .container__header .container__start-screen .start-screen__content p {
    font-size: 15px;
    width: 460px;
    color: white;
    margin: 0;
    text-align: justify;
    font-weight: 100;
    letter-spacing: 0px;
    line-height: 24px;
    height: auto;
    font-family: "Arial";
    color: #CDCDCD;
    font-weight: 100;
}

body .container .container__header .container__start-screen .start-screen__content button {
    width: 207px;
    height: 52px;
    border-radius: 100px;
    font-size: 17px;
    background-color: #F1CDB3;
    color: white;
    margin: 0;
    padding: 0;
    letter-spacing: 1.02px;
    line-height: 22.1px;
    border: none;
    color: #292929;
    font-family: "Georgia";
    cursor: pointer;
    transition: 1s;
}

body .container .container__header .container__start-screen .start-screen__content button:hover {
    background-color: #FDDCC4;
}

body .container .container__header .container__start-screen .start-screen__image {
    max-width: 698px;
}

body .container .container__header .container__start-screen .start-screen__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body .container .container__about {
   width: 100%;
   display: flex;
   justify-content: center;
}

body .container .container__about .about {
    display: flex;
    flex-direction: row;
    gap: 120px;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

body .container .container__about .about .about__image {
    margin-top: 80px;
}

body .container .container__about .about .about__content {
   max-width: 430px;
   margin-top: 97px;
   display: flex;
   flex-direction: column;
   gap: 25px;
}

body .container .container__about .about .about__content h3 {
   margin: 0;
   font-size: 35px;
    text-align: left;
   max-width: 370px;
   line-height: 45.5px;
   letter-spacing: 2.1px;
   color: #545454;
   font-weight: 200;
   font-family: "Georgia";
}

body .container .container__about .about .about__content p {
    margin: 0;
    font-size: 15px;
    max-width: 430px;
    font-family: "Arial";
    line-height: 24px;
    letter-spacing: 0;
    color: #4C4C4C;
}

body .container .container__pets {
    background-color: #F6F6F6;
    padding-right: 30px;
    padding-left: 30px;
}

body .container .container__pets .pets {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

body .container .container__pets .pets button {
    width: 261px;
    height: 52px;
    border-radius: 100px;
    margin: 0 auto;
    margin-bottom: 100px;
    background-color: #F1CDB3;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 1px;
    font-family: "Georgia";
    border: none;
    color: #292929;
    cursor: pointer;
    transition: 1s;
}

body .container .container__pets .pets button:hover {
    background-color: #FDDCC4;
}


body .container .container__pets .pets h3 {
    margin: 0;
    font-size: 35px;
    max-width: 400px;
    line-height: 45.5px;
    letter-spacing: 2.1px;
    color: #545454;
    font-weight: 200;
    font-family: "Georgia";
    text-align: center;
    margin: 0 auto;
    margin-top: 78px;
}

body .container .container__pets .pets .pets__slider {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  
}

body .container .container__pets .pets form {
    width: fit-content;
    margin: 0 auto;
}

body .container .container__pets .pets .pets__slider .button__container {
    max-width: 105px;
    width: 100%;
    display: flex;
}

body .container .container__pets .pets .pets__slider .button__container .slider__button {
    width: 52px;
    height: 52px;
    background-repeat: no-repeat;
}

body .container .container__pets .pets .pets__slider .button__container .slider__button:hover{
    border-color: #FDDCC4;
}

body .container .container__pets .pets .pets__slider .button__container .slider__button_left {
    background-image: url('../img/button_arrow_inactive.svg');
    justify-self: left;
}

body .container .container__pets .pets .pets__slider .button__container .slider__button_right {
    background-image: url('../img/button_arrow_right_active.svg');
    cursor: pointer;
    margin-left: auto;
}

body .container .container__pets .pets .pets__slider .button__container .slider__button_right:hover {
    background-image: url('../img/button_arrow_hover_right.svg');
    transition: 1s;
}



body .container .container__pets .pets .pets__slider .slider__pets-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 990px;
    width: 100%;
    overflow-x: hidden;
    /* position: relative; */
    /* gap: 8.5%; */
    gap: clamp(5px, calc((100% - 3 * 270px) / 2), 90px);
}

body .container .container__pets .pets .pets__slider .slider__pets-block .slider__block {
    width: 270px;
    height: 435px;
    background-color: #FAFAFA;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-sizing:border-box;
    /* border: 1px solid black; */
    /* position: absolute;
    left: 270px;
    top: 0; */
}

@keyframes hover-slider-block {
    0%   { border: 0px solid rgba(0, 0, 0, 0);;
    }
    100% {  border: 2px solid rgba(0, 0, 0, 0.174);;
    }
}

body .container .container__pets .pets .pets__slider .slider__pets-block .slider__block:hover {
    border: 2px solid rgba(0, 0, 0, 0.174);
    cursor: pointer;
    animation-name: hover-slider-block;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

body .container .container__pets .pets .pets__slider .slider__pets-block .slider__block:hover  button {
    border-color:  #FDDCC4;
    background-color: #FDDCC4;
}

body .container .container__pets .pets .pets__slider .slider__pets-block .slider__block p {
    margin: 0;
    padding: 0;
    font-family: "Georgia";
    font-size: 20px;
    text-align: center;
    letter-spacing: 1.2px;
}

body .container .container__pets .pets .pets__slider .slider__pets-block .slider__block .slider__button {
    margin: 0;
    padding: 0;
    width: 187px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    margin: 0 auto;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 0.8px;
    color: #292929;
    font-family: "Georgia";
    background-color: inherit;
}



body .container .container__help {
    padding-bottom: 100px;
    padding-top: 80px;
}

body .container .container__help h3 {
    width: 100%;
    margin-bottom: 58px;
    margin-top: 0;
}

body .container .container__help .help__list {
    display: flex;
    flex-direction: row;
    column-gap: 120px;
    row-gap: 55px;
    flex-wrap: wrap;
    max-width: 1026px;
    margin: 0 auto;
    justify-content:center;
}



body .container .container__help .help__list .list__item {
    display: flex;
    flex-direction: column;
    height: 113px;
    gap: 30px;
}

body .container .container__help .help__list .list__item img {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

body .container .container__help .help__list .list__item h4 {
    margin: 0;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.1px;
    font-family: "Georgia";
    color: #545454;
    text-align: center;
    font-weight: 100;
}

body .container .container__help .help__list .list__item_1 {
    width: 82px;
}

body .container .container__help .help__list .list__item_2 {
    width: 150px;
}

body .container .container__help .help__list .list__item_3 {
    width: 60px;
}

body .container .container__help .help__list .list__item_4 {
    width: 153px;
}

body .container .container__help .help__list .list__item_5 {
    width: 101px;
}

body .container .container__help .help__list .list__item_6 {
    width: 89px;
}

body .container .container__help .help__list .list__item_7 {
    width: 101px;
}

body .container .container__help .help__list .list__item_8 {
    width: 165px;
}

body .container .container__help .help__list .list__item_9 {
    width: 143px;
}

body .container .container__donation {
    background-color: #F6F6F6;
   
}

body .container .container__donation .donation {
    max-width: 915px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 80px;
    margin: 0 auto;
    gap: 30px;
    padding-bottom: 100px;
}

body .container .container__donation .donation a {
    display: block;
    text-decoration: none;
}

body .container .container__donation .donation .donation__image {
    margin-top: 11px;
}

body .container .container__donation .donation .donation__content {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
}

body .container .container__donation .donation .donation__content h3 {
    margin: 0;
    width: 300px;
    text-align: left;
}

body .container .container__donation .donation .donation__content h5 {
    margin: 0;
    text-align: left;
    color: #545454;
    font-family: "Georgia";
    font-size: 15px;
    line-height: 16.5px;
    letter-spacing: 0.9px;
    font-weight: 100;
}

body .container .container__donation .donation .donation__content p {
    margin: 0;
    width: 380px;
    font-family: "Arial";
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

body .container .container__donation .donation .donation__content .donation__credit-cart-content {
    width: 349px;
    height: 43px;
    border-radius: 9px;
    background-color: #F1CDB3;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    
}

body .container .container__donation .donation .donation__content .donation__credit-cart-content img {
   margin: 0;
   margin-left: 15px;
}

body .container .container__donation .donation .donation__content .donation__credit-cart-content h4 {
    color: #545454;
    font-size: 20px;
    font-family: "Georgia";
    line-height: 23px;
    letter-spacing: 1.2px;
    margin: 0;
    font-weight: 100;
}
body .container .container__donation .donation .donation__content .donation__credit-cart-content:hover {
    background-color: #FDDCC4;
    transition: 1s;
}


body .container footer {
    background-image: url('../img/header-background.png');
    background-size: cover;
}

body .container footer .footer__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
}

body .container footer .footer__block .suggestions-and-questions {
    display: flex;
    flex-direction: column;
    gap: 39px;
    align-items:center;
    width: 278px; 
    margin-top: 16px;
}

body .container footer .footer__block p {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 20px;
    width: 100%;
}

body .container footer .footer__block a {
    text-decoration: none;
    color: #F1CDB3;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.2px;
    font-weight: 100;
    font-family: "Georgia";
    transition: 1s;
}

body .container footer .footer__block a:hover {
    color: #fbf1e9;
}

body .container footer .footer__block h3 {
    margin-top: 0px;
    color: #FFFFFF;
    text-align: left;
}


body .container footer .footer__block .addresses {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 60px;
    width: 302px;
    margin-top: 16px;
    height: 234px;
}

body .container footer .footer__block .footer__image {
    align-self: flex-end;
}

@media (max-width: 1200px) {
    body .container .container__header .container__start-screen .start-screen__content {
        margin-top: 50px;
    }
}

@media (max-width: 1091px) {
    
    body .container .container__pets .pets .pets__slider{
        max-width: 1024px;
        width: 100%;
    }

    body .container .container__pets .pets .pets__slider .slider__pets-block {
        max-width: 580px;
        width: 100%;
        justify-content: space-between;
        gap: clamp(5px, calc((100% - 2 * 270px) / 1), 40px);
    }

    /* body .container .container__pets .pets .pets__slider .slider__pets-block .slider__block {
        flex-grow: 1;
    } */
    
}

@media (max-width: 1024px) {
    body .container .container__header .container__start-screen {
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        padding-left: 45px;
        gap: 100px;
    }

    body .container .container__header .container__start-screen .start-screen__content {
        margin-top: 0;
    }

    body .container .container__header .container__start-screen .start-screen__content form {
        width: fit-content;
        margin: 0 auto;
    }

    body .container .container__header .container__start-screen .start-screen__content button {
        margin: 0 auto;
    }

    body .container .container__header .container__start-screen .start-screen__image img {
        width: 81%;
        margin-left: 15%;
    }


    body .container .container__about .about {
        flex-direction: column-reverse;
        gap: 80px;
    }

    body .container .container__about .about .about__content {
        margin-top: 80px;
    }

    body .container .container__about .about .about__image {
        margin-top: 0px;
       margin: 0 auto;
    }

    body .container .container__pets .pets .pets__slider .slider__pets-block {
        /* justify-content: center; */
    }

    body .container .container__pets .pets .pets__slider .slider__pets-block .slider__block:last-child{
        display: none;
    }

    body .container .container__pets .pets .pets__slider .button__container {
        max-width: 64px;
    }

    body .container .container__donation .donation {
        flex-direction: column-reverse;
        max-width: fit-content;
        gap: 48px
    }

    body .container .container__donation .donation .donation__content {
        max-width: fit-content;
        margin: 0 auto;
    }


    body .container footer .footer__block {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 60px;
        padding-top: 11px;
    }
    body .container footer .footer__block .addresses {
        padding-bottom: 64px;
    }
}

@media (max-width: 768px){
    body .container .container__header .container__start-screen {
        padding-left: 30px;
    }

    body .container .container__header .container__start-screen .start-screen__image img {
        margin-left: 19%;
    }

    body .container .container__pets .pets h3 {
        margin-top: 74px;
    }

    body .container .container__pets .pets .pets__slider .slider__pets-block {
        justify-content: space-between;
    }

    body .container .container__help .help__list {
        column-gap: 60px;
        row-gap: 55px;
    }

    body .container .container__help .help__list .list__item {
        width: 170px;
    }
}

@media (max-width: 767px) {
    body .container .container__pets .pets .pets__slider{
        max-width: 550px;
        width: 100%;
    }

    body .container .container__pets .pets .pets__slider .slider__pets-block {
        max-width: 270px;
        width: 100%;
        justify-content: space-between;
        /* gap: clamp(5px, 270px, 40px); */
    }
}

@media (max-width: 728px) {

    /* body .container .container__pets .pets .pets__slider .slider__pets-block{
        justify-content: center;
    } */
    /* body .container .container__pets .pets .pets__slider .slider__pets-block .slider__block:nth-of-type(2) {
        display: none;
    } */

    body .container .container__donation .donation .donation__image {
        max-width: 505px;
        width: 100%;
    }

    body .container .container__donation .donation .donation__image img {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;
    }
}

@media (max-width: 767px){
    body .container .container__header header .burger__nav {
        display: flex;
    }

    body .container .container__header header .header__nav {
        display: block;
        position: absolute;
        right: -320px;
        width: 320px;
        background-color: #292929;
    }

    body .container .container__header header .header__nav ul {
       flex-direction: column;
       width: inherit;
       margin: 0 auto;
       margin-top: 264px;
       width: 243px;
       align-items: center;
       gap: 68px;
       padding-bottom: 259px;
       height: max-content;
    }

    body .container .container__header header .header__nav ul li{
        width: fit-content;
        font-size: 32px;
     }

     body .container .container__header header .header__nav ul li .active-nav-el {
        padding-bottom: 10px;
     }

     body .container .container__header header .header__nav ul li a{
        font-size: 32px;
     }
}

@media (max-width: 720px) {

    body .container .container__header .container__start-screen .start-screen__content {
        max-width: 460px;
        width: 100%
    }

    body .container .container__header .container__start-screen .start-screen__content h2 {
        width: auto;
    }

    body .container .container__header .container__start-screen .start-screen__content p {
        width: auto;
    }

   
}

@media (max-width: 460px){

    body .container .container__header header {
        padding-left: 20px;
        padding-right: 20px;
    }

    body .container .container__header .container__start-screen {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 59px;
        gap: 106px;
    }

    body .container .container__header .container__start-screen .start-screen__content h2 {
        font-size: 25px;
        text-align: center;
        line-height: 32.5px;
        letter-spacing: 1.5px;
        padding: 0 45px; 
    }

    body .container .container__header .container__start-screen .start-screen__content p {
        text-align: center;
    }

    body .container .container__header .container__start-screen .start-screen__content {
        gap: 41px;
    }

    body .container .container__header .container__start-screen .start-screen__image img {
        width: 86%;
        margin-left: 14%;
    }

    body .container .container__about {
        width: 100%;
       margin: 0 auto;
    }

    body .container .container__about .about {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        gap: 43px;
        padding-bottom: 42px;
    }

    body .container .container__about .about .about__image {
        max-width: 260px;
        width: 100%;
    }

    body .container .container__about .about .about__image img {
        width: 100%;
        object-fit: cover;
    }

    body .container .container__about .about .about__content {
        margin: 0 auto;
        margin-top: 41px;
        max-width: 290px;
        width: 100%;
        gap: 23px;
    }

    body .container .container__about .about .about__content h3 {
        text-align: center;
        font-size: 25px;
        line-height: 32.5px;
        letter-spacing: 1.5px;
    }

    body .container .container__about .about .about__content p {
        text-align: justify;
        margin: 0 10px;
    }

    body .container .container__pets {
        width: 100%;
        padding: 0;
    }

    body .container .container__pets .pets h3 {
        margin-top: 36px;
        text-align: center;
        font-size: 25px;
        line-height: 32.5px;
        letter-spacing: 1.5px;
    }

    body .container .container__pets .pets {
        gap: 41px;
    }

    body .container .container__pets .pets .pets__slider {
        max-width: 270px;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 1fr 52px;
        row-gap: 20px;
    }

    body .container .container__pets .pets .pets__slider .slider__pets-block {
        grid-row: 1 ;
        grid-column: 1 / span 4;
    }

    body .container .container__pets .pets .pets__slider .button__container_left {
        grid-row: 2;
        grid-column: 2;
    }

    body .container .container__pets .pets .pets__slider .button__container_right {
        margin-left: 80px;
        grid-row: 2;
        grid-column: 3;
    }

    body .container .container__pets .pets .pets__slider .button__container .slider__button_right {
        margin: 0;
    }

    body .container .container__pets .pets form button {
        margin-bottom: 42px;
    }

    body .container .container__help {
        width: 100%;
        padding: 0;
    }

    body .container .container__help h3 {
        margin: 0 auto;
        margin-top: 43px;
       max-width: 270px;
        text-align: center;
        font-size: 25px;
        line-height: 32.5px;
        letter-spacing: 1.5px;
        margin-bottom: 43px;
    }

    body .container .container__help .help__list {
        column-gap: 29px;
        row-gap: 4px;
        justify-content: space-between;
        justify-content: center;
        margin: 0 auto;
        padding: 0 15px;
        padding-bottom: 14px;
    }

    body .container .container__help .help__list .list__item {
        width: 130px;
        gap: 20px;
    }

    body .container .container__help .help__list .list__item h4 {
        margin: 0;
    font-size: 15px;
    line-height: 16.5px;
    letter-spacing: 0.9px;
    font-family: "Georgia";
    color: #545454;
    text-align: center;
    font-weight: 100;
    }

    body .container .container__help .help__list .list__item img {
        width: 50px;
        height: 50px;
    }

    body .container .container__donation .donation {
        padding-top: 42px;
        padding-bottom: 43px;
        width: 100%;
        gap: 31px;
    }

    body .container .container__donation .donation .donation__content {
        max-width: 300px;
        width: 100%;
        gap: 20px;
    }

    body .container .container__donation .donation .donation__content h3 {
        margin-top: 0px;
        max-width: 220px;
        text-align: center;
        font-size: 25px;
        line-height: 32px;
        letter-spacing: 1.5px;
        margin-bottom: 43px;
        margin: 0 auto;
    }

    body .container .container__donation .donation .donation__content .donation__credit-cart-content {
        max-width: 281px;
        width: 100%;
        gap: 0px;
        margin: 0 auto;
    }

    body .container .container__donation .donation .donation__content .donation__credit-cart-content img {
        margin-left: 14px;
        margin-right: 15px;
    }

    body .container .container__donation .donation .donation__content .donation__credit-cart-content h4 {
        margin: 0;
        font-size: 15px;
        line-height: 17px;
        letter-spacing: 0.9px;
        font-family: "Georgia";
        color: #545454;
        text-align: center;
        font-weight: 100;
    }

    body .container .container__donation .donation .donation__content h5 {
        letter-spacing: 0;
        padding-left: 3px;
        line-height: 24px;
    }

    body .container .container__donation .donation .donation__content p {
        max-width: 380px;
        width: 100%;
        padding-left: 0px;
        text-align: justify;
        max-width: 280px;
        width: 100%;
    }

    body .container .container__donation .donation .donation__image img {
        width: 260px;
        margin: 0 auto;
    }

    body .container footer .footer__block {
        max-width: 300px;
        margin: 0;
        margin: 0 auto;
    }

    body .container footer .footer__block .suggestions-and-questions {
        margin-top: 19px;
    }

    body .container footer .footer__block .suggestions-and-questions h3 {
        margin: 0;
        margin-top: 0px;
        max-width: 278px;
        width: 100%;
        text-align: center;
        font-size: 25px;
        line-height: 32.5px;
        letter-spacing: 1.5px;
    }

    body .container footer .footer__block .suggestions-and-questions p {
        width: fit-content;
        gap: 20px;
        justify-content: space-between;
    }

    body .container footer .footer__block .addresses {
        max-width: 300px;
        gap: 40px;
        padding-bottom: 53px;
    }

    body .container footer .footer__block h3 {
        margin: 0 auto;
        margin-top: 24px;
        max-width: 270px;
        width: 100%;
        text-align: center;
        font-size: 25px;
        line-height: 32.5px;
        letter-spacing: 1.5px;
    }

    body .container footer .footer__block .footer__image {
        max-width: 260px;
        width: 100%;
    }

    body .container footer .footer__block .footer__image img {
        width: 100%;
        object-fit: contain;
    }
}

@media (max-width: 325px){
    body .container .container__help .help__list {
        justify-content: space-between;
    }
}

@keyframes appearance-menu{
    from {
        right: -400px;
    }

    to {
        right: 0px;
    }
}



body .container .container__header header .menu {
    animation: appearance-menu 2s forwards;
}

@keyframes close-menu{
    from {
        right: 0px;
       
    }

    to {
        right: -320px;
        
    }
}

.close-menu {
    background-color: #fff;
    animation: close-menu 2s forwards;
    top: 0;
}



